In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('data.csv')

      krish  31
0  Sudhansh  30
1     Sunny  23

In [3]:
pd.read_csv('data.csv')

       Name  Age
0     krish   31
1  Sudhansh   30
2     Sunny   23

In [1]:
#Creating a Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [2]:
spark

In [3]:
## Read the Dataset
spark.read.option('header','true').csv('data.csv')

DataFrame[Name: string, Age: string]

In [4]:
## Show the entire dataset
spark.read.option('header','true').csv('data.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|   krish| 31|
|Sudhansh| 30|
|   Sunny| 23|
+--------+---+

In [5]:
df_pyspark=spark.read.option('header','true').csv('data.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|   krish| 31|
|Sudhansh| 30|
|   Sunny| 23|
+--------+---+

In [7]:
## To Check the schema -->in pandas df.info i.e. check the dataframe
df_pyspark_schema = spark.read.option('header','true').csv('data.csv')
df_pyspark_schema.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [8]:
## By Defalut all the the fields will have the String value 
## to make type cast
df_pyspark_schema_typeCast = spark.read.option('header','true').csv('data.csv',inferSchema=True)
df_pyspark_schema_typeCast.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [9]:
### Another way of showing dataset
df_pyspark=spark.read.csv('data.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|   krish| 31|
|Sudhansh| 30|
|   Sunny| 23|
+--------+---+

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
### ---> DataFrame is DataStruncture i.e. Inside of which I can perform various operations

In [12]:
## Getting the column names
df_pyspark.columns

['Name', 'Age']

In [13]:
## pick some head element [here we will get this in a list format , in pandas it is dataframe format]
df_pyspark.head(2)

[Row(Name='krish', Age=31), Row(Name='Sudhansh', Age=30)]

In [14]:
## pick only particular columns -- return type dataframe
type(df_pyspark.select('Name'))
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|   krish|
|Sudhansh|
|   Sunny|
+--------+

In [15]:
## picking up two columns
df_pyspark.select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|   krish| 31|
|Sudhansh| 30|
|   Sunny| 23|
+--------+---+

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
df_pyspark=spark.read.csv('data.csv',header=True,inferSchema=True)
df_pyspark['Name']

Column<b'Name'>

In [4]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [5]:
## Describe options
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string]

In [6]:
df_pyspark.describe().show()

+-------+--------+-----------------+
|summary|    Name|              Age|
+-------+--------+-----------------+
|  count|       3|                3|
|   mean|    null|             28.0|
| stddev|    null|4.358898943540674|
|    min|Sudhansh|               23|
|    max|   krish|               31|
+-------+--------+-----------------+

In [9]:
## Adding Columns in dataframe --> Experience
df_pyspark=df_pyspark.withColumn('Experience',df_pyspark['Age']+2)

In [10]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   krish| 31|        33|
|Sudhansh| 30|        32|
|   Sunny| 23|        25|
+--------+---+----------+

In [11]:
## Drop a Column
df_pyspark.drop('Experience').show()

+--------+---+
|    Name|Age|
+--------+---+
|   krish| 31|
|Sudhansh| 30|
|   Sunny| 23|
+--------+---+

In [ ]:
## rename a column