In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('data.csv')

      krish  31
0  Sudhansh  30
1     Sunny  23

In [3]:
pd.read_csv('data.csv')

       Name  Age
0     krish   31
1  Sudhansh   30
2     Sunny   23

In [1]:
#Creating a Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [2]:
spark

In [3]:
## Read the Dataset
spark.read.option('header','true').csv('data.csv')

DataFrame[Name: string, Age: string]

In [4]:
## Show the entire dataset
spark.read.option('header','true').csv('data.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|   krish| 31|
|Sudhansh| 30|
|   Sunny| 23|
+--------+---+

In [5]:
df_pyspark=spark.read.option('header','true').csv('data.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|   krish| 31|
|Sudhansh| 30|
|   Sunny| 23|
+--------+---+

In [7]:
## To Check the schema -->in pandas df.info i.e. check the dataframe
df_pyspark_schema = spark.read.option('header','true').csv('data.csv')
df_pyspark_schema.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [8]:
## By Defalut all the the fields will have the String value 
## to make type cast
df_pyspark_schema_typeCast = spark.read.option('header','true').csv('data.csv',inferSchema=True)
df_pyspark_schema_typeCast.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [9]:
### Another way of showing dataset
df_pyspark=spark.read.csv('data.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|   krish| 31|
|Sudhansh| 30|
|   Sunny| 23|
+--------+---+

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
### DataFrame is DataStruncture i.e. Inside of which I can perform various operations