In [1]:
import pandas as pd

In [2]:
dataFrame = pd.read_csv('data/gapminder.tsv',sep='\t')
print (dataFrame.shape)

(1704, 6)

In [3]:
#print The Columns
print (dataFrame.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [4]:
#print DataType of Each Column
print (dataFrame.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [5]:
# Print Information About the File
print (dataFrame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [6]:
#Get The country Column and Save it in it's own Variable
countryColumn = dataFrame['country']
print (countryColumn)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [8]:
# print Few items from the head
print (countryColumn.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [9]:
#Print last five items from the tail
print (countryColumn.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [10]:
#print First 10 items
print (countryColumn.head(10))

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
6    Afghanistan
7    Afghanistan
8    Afghanistan
9    Afghanistan
Name: country, dtype: object

In [11]:
#Print Last 10 Items
print (countryColumn.tail(10))

1694    Zimbabwe
1695    Zimbabwe
1696    Zimbabwe
1697    Zimbabwe
1698    Zimbabwe
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [12]:
# Getting data from multiple column
subset = dataFrame[['country','continent','year']]
print (subset.head(10)) # print first 10 items of the column

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
5  Afghanistan      Asia  1977
6  Afghanistan      Asia  1982
7  Afghanistan      Asia  1987
8  Afghanistan      Asia  1992
9  Afghanistan      Asia  1997

In [13]:
#print last 10 items of the column
print (subset.tail(10))

       country continent  year
1694  Zimbabwe    Africa  1962
1695  Zimbabwe    Africa  1967
1696  Zimbabwe    Africa  1972
1697  Zimbabwe    Africa  1977
1698  Zimbabwe    Africa  1982
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

# ## subset Methods

loc   ===> Subset based on index label
iloc  ===> Subset based on row Index

Get the First Row

In [14]:
# first line starts from index 0
print (dataFrame.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object

Get the Second Row

In [15]:
# Second Line
print (dataFrame.loc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

Get the 100th Row

In [16]:
print (dataFrame.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

Get the last Row

In [19]:
total_number_of_rows= dataFrame.shape[0]
print ("Total Number of Rows",(total_number_of_rows))

Total Number of Rows 1704

In [20]:
last_row_index = total_number_of_rows - 1
# Now print the last row elements
print (dataFrame.loc[last_row_index])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

### iloc does the same thing as loc but is used to subset by the row index number .

In [21]:
# Get the 2nd row
print (dataFrame.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap        820.853
Name: 1, dtype: object

In [22]:
# Get the 100 th row
print (dataFrame.iloc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap       721.186
Name: 99, dtype: object

Get the last row using iloc

In [23]:
print (dataFrame.iloc[-1])

country      Zimbabwe
continent      Africa
year             2007
lifeExp        43.487
pop          12311143
gdpPercap     469.709
Name: 1703, dtype: object

In [24]:
# Print multiple rows using iloc

In [27]:
print (dataFrame.iloc[[0,99,100]])

         country continent  year  lifeExp       pop   gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333  779.445314
99    Bangladesh      Asia  1967   43.453  62821884  721.186086
100   Bangladesh      Asia  1972   45.252  70759295  630.233627

### Subsetting Columns
The python slicing syntax uses a colon : , If we have just a colon , The attribute referes to everything .

In [28]:
subset = dataFrame.loc[:,['year','pop']]
print (subset)

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [29]:
print (subset.head(10))

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460
5  1977  14880372
6  1982  12881816
7  1987  13867957
8  1992  16317921
9  1997  22227415

In [31]:
#subset columns with iloc
# use integers instead of column names for iloc
print (dataFrame.iloc[:,[2,4,-1]]) # -1 select the last column

      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [32]:
print (dataFrame.iloc[:,[2,4,-1]].head(10))

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106
5  1977  14880372  786.113360
6  1982  12881816  978.011439
7  1987  13867957  852.395945
8  1992  16317921  649.341395
9  1997  22227415  635.341351

In [33]:
# Slice the first 3 columns
print (dataFrame.iloc[:,:3])

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [34]:
#Slice Column 3 to 5
print (dataFrame.iloc[:,3:6])

      lifeExp       pop   gdpPercap
0      28.801   8425333  779.445314
1      30.332   9240934  820.853030
2      31.997  10267083  853.100710
3      34.020  11537966  836.197138
4      36.088  13079460  739.981106
...       ...       ...         ...
1699   62.351   9216418  706.157306
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

[1704 rows x 3 columns]

In [35]:
# Select Specific Rows with Specific Columns
# using loc
print (dataFrame.loc[34,'country']) 
# using iloc
print (dataFrame.iloc[34,0])

Algeria
Algeria

In [36]:
# grouped By Example
print (dataFrame.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [37]:
multi_group_var = dataFrame.groupby(['year','continent'])[['lifeExp','gdpPercap']].mean()
print (multi_group_var)

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [38]:
# Sample plot 
global_yearly_life_exp = dataFrame.groupby('year')['lifeExp'].mean()
print(global_yearly_life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [40]:
global_yearly_life_exp.plot()